<div class="row text-main-container">
  <div class="col-md-3 left-logos">
    <img src="/images/html5.png" alt="html5-logo" id='html5Logo' class='logos' width="150">
    <img src="/images/nodejs.png" alt="nodelogo" id='nodeLogo' class='logos' width="150">
    <img src="/images/mongo.png" alt="mongologo" id='mongoLogo' class='logos' width="150">
  </div>
  <div class="col-md-6 text_about">
    <h2>About me</h2>
    <p>Hi, my name is Srdjan and I am self-taught web developer from Serbia. I'm 24 years old, and I have always been interested to find out how things work and that is how I started my journey in coding. After some research I wrote my first 'Hello World!' program and from that moment I'm completely in &#10084; with coding and I'm having much fun doing it and learing new technologies.
</br>
</br>
  For now I've gathered knowledge and concepts in HTML5, CSS3(Bootstrap4 and Foundation), JavaScript, Node.js, MongoDB. My goal is to one day become full stack web developer with focus on MERN stack.

</p>
  <button type="button" class='btn' id='projectsButton' name="button">Projects</button>
</div>
  <div class="col-md-3 right-logos">
    <img src="/images/jslogo.png" alt="jslogo" id='jsLogo' class='logos' width="120">
    <img src="/images/npm.png" alt="npmlogo" id='npmLogo' class='logos' width="100">
    <img src="/images/kraken.png" alt="krakenlogo" id='krakenLogo' class='logos' width="100">
    <img src="/images/css.png" alt="csslogo" id='cssLogo' class='logos' width="100">
  </div>
</div>
