<div class="row contact">
  <div class="col-md-12">
    <h1>Contact me at <a href="https://twitter.com/srdjaaanftw" target="_blank"><i class='fi-social-twitter'></i></a></h1>
    <h2>Or at e-mail shrvacanin@gmail.com</h2>
  </div>
</div>
