<!-- * PROJECTS PART -->
<div class="row projects">
  <div class="col-md-12">
    <h2>Projects</h2>
  </div>
  <div class="col-md-6">
    <div class="box">
      <div class="row">
        <div class="col-xs-8 project-logo">
          <img src="/images/blog.png" id='books' alt="books" width="250">
        </div>
        <div class="col-xs-4">
          <div class="icons">
            <a href="https://blog-star.herokuapp.com" target="_blank" data-toggle="tooltip" data-placement="right auto" title="Click to see on Heroku"><i class='fi-web'></i></a>
          </div>
          <div class="icons">
            <a href="https://github.com/srdz131/node-blog-system" target="_blank" data-toggle="tooltip" data-placement="right auto" title="Click to see on GitHub"><i class='fi-social-github'></i></a>
          </div>
        </div>
      </div>
      <div class="description">
        <div class="row">
          <div class="col-md-12">
            <p>Basic Blog app, built on top of Node.js, MongoDB and Jade as view engine. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="box">
      <div class="row">
        <div class="col-xs-8 project-logo">
          <img src="/images/learning.png" id='books' alt="books" width="250">
        </div>
        <div class="col-xs-4">
          <div class="icons">
            <a href="https://elearningx.herokuapp.com" target="_blank" data-toggle="tooltip" data-placement="right auto" title="Click to see on Heroku"><i class='fi-web'></i></a>
          </div>
          <div class="icons">
            <a href="https://github.com/srdz131/elearningApp" target='_blank'><i class='fi-social-github' data-toggle="tooltip" data-placement="right auto" title="Click to see on GitHub"></i></a>
          </div>
        </div>
      </div>
      <div class="description">
        <div class="row">
          <div class="col-md-12">
            <p>E-learning app. Built with Node.js, MongoDB and Foundation for front-end. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="box">
      <div class="row">
        <div class="col-xs-8 project-logo">
          <img src="/images/chat.png" id='books' alt="books" width="250">
        </div>
        <div class="col-xs-4">
          <div class="icons">
            <a href="https://lechatz.herokuapp.com/" target="_blank" data-toggle="tooltip" data-placement="right auto" title="Click to see on Heroku"><i class='fi-web'></i></a>
          </div>
          <div class="icons">
            <a href="https://github.com/srdz131/node-chat-app" target="_blank"><i class='fi-social-github' data-toggle="tooltip" data-placement="right auto" title="Click to see on GitHub"></i></a>
          </div>
        </div>
      </div>
      <div class="description">
        <div class="row">
          <div class="col-md-12">
            <p>Chat App built with Node.js </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="box">
      <div class="row">
        <div class="col-xs-8 project-logo">
          <img src="/images/books.png" id='books' alt="books" width="250">
        </div>
        <div class="col-xs-4">
          <div class="icons">
            <a href="https://nodejsbooks.herokuapp.com" target="_blank" data-toggle="tooltip" data-placement="right auto" title="Click to see on Heroku"><i class='fi-web'></i></a>
          </div>
          <div class="icons">
            <a href="https://github.com/srdz131/node-books-store" target="_blank" data-toggle="tooltip" data-placement="right auto" title="Click to see on GitHub"><i class='fi-social-github'></i></a>
          </div>
        </div>
      </div>
      <div class="description">
        <div class="row">
          <div class="col-md-12">
            <p>Application for selling books. Built with Node.js, MongoDB and Kraken </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row restOf">
    <div class="col-md-12">
      <h1>You can see the rest of my projects on my <a href="https://github.com/srdz131" target="_blank">GitHub</a></h1>
    </div>
  </div>
</div>
