<div class="row errorDesert">
  <div class="col-md-12">
    <h1>404</h1>
    <h1>Oops! Looks like you have entered wrong adress</h1>
    <h2>nothing here, just desert</h2>
    <a href="/">Click To Go Back</a>
  </div>
</div>
