<!-- * HERO PART -->
<div class="hero-section">
  <h1>Hello World</h1>
  <h4>Welcome to my Porfolio page</h4>
  <button type="button" class='btn' id='aboutMeButton' name="button">About me</button>
</div>

<!-- * ABOUT ME -->
{{>about}}

{{>projects}}

<!-- * CONTANCT PART -->
{{>contact}}
<!-- * FOOTER -->
